@charset "utf-8";

/********** Global **********/

html,
body {
	width: 100%;
	height: 100%;
	font-family: "microsoft yahei", arial, sans-serif;
	/*background-color: #0b0f34;*/
	background: url("../img/brackgroud.jpg") ;
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	margin: 0 auto;
	min-width: 375px;
	max-width: 1920px;
}


/********** Layout **********/

.header {
	position: relative;
	height: 50px;
	box-sizing: border-box;
}

.header-title {
	margin: 0;
	padding: 10;
	/*left:20;*/
	line-height: 70px;
	text-align: center;
	font-size: 38px;
	font-weight: 500;
	color: #ede61f;
	font-family:"SimHei ";
}

.wrapper {
	position: absolute;
	top: 36px;
	bottom: 5px;
	left: 10px;
	right: 10px;
	padding: 10px 10px 0 10px;
	min-height: 400px;
	/*background: url("../img/wrapper-bg.png") ;*/
	background-size: 100% 100%;
	box-sizing: border-box;
}


/* PC */

@media (max-width:1919px) {
	.header {
		height: 36px;
	}
	.header-title {
		line-height: 42px;
		font-size: 28px;
		left:100px;
		/*margin-left:20px;*/
	}
	.wrapper {
		top: 22px;
	}
}


/* Mobile */

@media (max-width:1279px) {
	.header-title {
		max-width: 96%;
	}
	.wrapper {
		background: none;
	}
}


/********** Content **********/

.content {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 25px 0px;
	height: 100%;
	min-height: 100%;
	box-sizing: border-box;
}

.col {
	margin:  0px;
	height: 100%;
}

.col-l {
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
}

.col-c {
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3
}


.col-r {
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
}

/*.footer{
	flex: 0 10 auto;
	margin: 10px;
	height: 18%;
	
}*/
/* PC */

@media (max-width:1919px) {
	.content {
		padding: 0px 0;
	}
	.footer{
	margin: 0px;
	height: 20%;
}
}


/* Mobile */

@media (max-width:1279px) {
	.content {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.col {
		margin: 5px 0;
	}
	.col-l,
	.col-c,
	.col-r {
		-webkit-flex: none;
		-ms-flex: none;
		flex: none;
	}
}

.xpanel-wrapper {
	padding-bottom: 10px;
	box-sizing: border-box;
}

.xpanel-wrapper {
	height: 100%;
}

.xpanel-wrapper-65 {
	height: 65%;
}

.xpanel-wrapper-30 {
	height: 30%;
}

.xpanel-wrapper-40 {
	height: 40%;
}

.xpanel-wrapper-35 {
	height: 35%;
}

.xpanel-wrapper-60 {
	height: 60%;
}

.xpanel-wrapper-70 {
	height: 70%;
}

.xpanel-wrapper-75 {
	height: 75%;
}

.xpanel-wrapper-25 {
	height: 25%;
}

.xpanel-wrapper-50 {
	height: 50%;
}

.xpanel-wrapper-100 {
	height: 100%;
}
.xpanel-wrapper-94 {
	height: 94%;
}
.xpanel-wrapper-98 {
	height: 98%;
}
.xpanel-wrapper-78 {
	height: 78%;
}
.xpanel-wrapper-20 {
	height: 20%;
}

.xpanel-wrapper-30 {
	height: 30%;
}

.xpanel-wrapper-68 {
	height: 68%;
}

.xpanel-wrapper-64 {
	height: 64%;
}

.xpanel-wrapper-6 {
	height: 6%;
}
.xpanel-wrapper-14 {
	height: 14%;
}
.xpanel-wrapper-2 {
	height: 2%;
}
.xpanel-wrapper-49 {
	height: 49%;
}
.xpanel-wrapper-47 {
	height: 47%;
}
.xpanel-wrapper-50 {
	height: 50%;
}
.xpanel-wrapper-44 {
	height: 44%;
}
.xpanel-wrapper-4 {
	height: 4%;
}
.xpanel-wrapper-16 {
	height: 16%;
}
.xpanel-wrapper-40 {
	height: 40%;
}
.xpanel-wrapper-58 {
	height: 58%;
}
.xpanel {
	height: 100%;
	min-height: 100px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	box-sizing: border-box;
}

.xpanel-l-t {
	/*background-image: url("../img/panel-l-t.png");*/
}

.xpanel-l-b {
	/*background-image: url("../img/panel-l-b.png");*/
}


.xpanel-c-b {background-image:url("../img/panel-c-b.png");}

/*.xpanel-c-b {}*/

.xpanel-r-t {
	background-image: url("../img/panel-r-t.png");
}

.xpanel-bbb {
	background-image: url("../img/bbb.png");
}
.xpanel-ccc {
	background-image: url("../img/111.png");
}
.xpanel-ddd {
	background-image: url("../img/ddd.png");
}
.xpanel-r-m {
	background-image: url("../img/panel-r-m.png");
}

.xpanel-r-b {
	background-image: url("../img/panel-r-b.png");
}

.xpanel .title {
	padding-left: 24px;
	height: 44px;
	line-height: 44px;
	font-size: 24px;
	font-weight: normal;
	color: #fff;
	background-image: url("../img/title-bg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.xpanel .title-long {
	background-image: url("../img/title-bg-long.png");
}


/* PC */

@media (max-width:1919px) {
	.xpanel .title {
		padding-left: 20px;
		height: 36px;
		line-height: 36px;
		font-size: 20px;
	}
}


/* tool */

.fill-h {
	height: 100% !important;
	min-height: 100% !important;
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.no-bg {
	background: none !important;
}

.no-border {
	border: 0 !important;
}


/* scrollbar */

::-webkit-scrollbar {
	width: 0;
	height: 0;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.3);
}

.BMap_cpyCtrl {
	display: none;
}

.anchorBL {
	display: none;
}
